pillow>=9.5.0
keyboard>=0.13.5
groq>=0.3.0
python-dotenv
pystray>=0.19.0
pywin32
win10toast>=0.9
requests>=2.28.0
flask>=2.2.0 
google-auth>=2.15.0 
google-auth-oauthlib>=0.7.0
google-api-python-client>=2.0.0
plyer>=2.1.0
pytesseract>=0.3.10